<div class="row justify-content-center">
<div class="col-md-6 col-xs-12 ">
<form #roomReserve="ngForm" (ngSubmit)="onSubmitReserve(roomReserve)">
  <div class="form-group">
    <label for="room">Room:</label>
    <select class="form-control"  [(ngModel)]="room_id" name="room_id" (change)="onRoomChange()">
      <option value="0">Select room</option>
      <option *ngFor="let room of rooms" value="{{room.id}}">name:{{room.name}} capacity:{{room.capacity}}</option>
    </select>

  </div>
  <table *ngIf="selected_room" class="table">
      <tr>
        <td>
          Passenger name
        </td>
        <td>
          Age range
        </td>
        <td>
          Age
        </td>
      </tr>
      <tr *ngFor="let x of selected_room_array;let index=index" >
        <td>
          <input name="passenger_name_{{index}}" ngModel>
        </td>
        <td>
          <select name="age_range_{{index}}" ngModel>
              <option *ngFor="let item of age_ranges" value="{{item}}">
                {{item}}
              </option>
          </select>
        </td>
        <td>
          <input name="age_{{index}}" ngModel>
        </td>
      </tr>
  </table>

  <input type="submit" class="btn btn-default" value="Submit">
</form>
</div>
</div>