<div class="row justify-content-center">
   <div class="col-md-6 col-xs-12 ">
       <div class="alert alert-info" >
           Please select one of the below users:
       </div>

       <ul>
           <li class="list-group-item" *ngFor="let user of users">
                   <span class="badge">{{user.id}}</span> username:{{user.name}} password:{{user.password}}
           </li>
       </ul>
       <div *ngIf="error" class="alert alert-danger">
           {{error}}
       </div>
       <form >
           <div class="form-group">
               <label for="user">Name:</label>
               <input type="text" class="form-control" id="user" [(ngModel)]="username" name="username">
           </div>
           <div class="form-group">
               <label for="pwd">Password:</label>
               <input type="password" class="form-control" id="pwd" [(ngModel)]="password" name="password">
           </div>
           <div class="checkbox">
               <label><input type="checkbox"> Remember me</label>
           </div>
           <button type="submit" class="btn btn-default" (click)="login()">Submit</button>
       </form>
   </div>
</div>