<div class="row justify-content-center">
<div class="col-md-6 col-xs-12 ">
    <ul>
      <li class="list-group-item">User: {{user.name}}</li>
      <li class="list-group-item">Room: {{room.name}}</li>
      <li class="list-group-item">Passengers:<br>
        <table class="table">

          <tr>
            <td>
              Name
            </td>
            <td>
              Age range:
            </td>
            <td>
              Age:
            </td>
          </tr>
          <tr *ngFor="let item of result">
            <td>
              {{item.name}}
            </td>
            <td>
              {{item.age_range}}
            </td>
            <td>
              {{item.age}}
            </td>
          </tr>
        </table>
      </li>
    </ul>


</div>
</div>